---
import { getCollection } from "astro:content";

/**
 * Get the paths for the static site generation.
 */
export async function getStaticPaths() {
    const certifications = await getCollection("certifications", (entry) => {
        return !entry.data.draft;
    });

    return certifications.map((certification) => {
        const [ provider, title ] = certification.id.split("/");

        return {
            params: {
                provider,
                title,
            },
            props:  {
                certification,
                provider,
            },
        };
    });
}

const {
          provider,
          title,
      } = Astro.params;

const url = `https://certdb.cyberpath-hq.com/database/${provider}/${title}`
const content = `0; url=${url}`
---
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content={content} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="canonical" href={content} />
        <title>Redirecting...</title>
    </head>
</html>